@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>
    Vestibulum lacinia massa eu maximus dapibus. Nunc rutrum nec dui id imperdiet. Etiam et velit sed quam venenatis auctor. Duis nec mauris lorem. Pellentesque sodales risus purus, ac convallis mauris semper id. Nullam dictum venenatis venenatis. Nam eget lacus dictum, vestibulum quam ultrices, sagittis enim. Proin porta auctor risus, tincidunt fermentum tortor auctor at.
</p>

<p>
    Nunc nec urna sit amet nulla semper rutrum. Vestibulum sit amet iaculis erat. Aliquam porta ipsum a sagittis lacinia. Pellentesque ipsum libero, gravida et laoreet volutpat, auctor id nisl. Sed sed orci magna. Aenean non massa ex. Aenean commodo tempor dui, iaculis malesuada augue malesuada pharetra. Quisque aliquam risus a volutpat dictum. Donec porttitor tempor ultrices. Maecenas molestie convallis pulvinar. Maecenas ullamcorper tincidunt auctor. Phasellus convallis dui at arcu porta ullamcorper. Proin sit amet nulla non massa euismod volutpat eu sit amet arcu. Duis consectetur finibus velit quis interdum. Curabitur vestibulum nunc vel accumsan consectetur. Etiam nec eros odio.
</p>
