@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <div class="jumbotron">
            <img class="img-responsive" src="https://images.musement.com/cover/0002/11/edinburgh-skyline-scotland-fotolia-162434345-subscription-xxl-jpg_header-110058.jpeg?w=1280&h=480&q=60&fit=crop" alt="My image" />
            <h2 class="display-3">Property Letting Ltd.</h2>
            <p class="lead">The number one property letting agency.</p>
            <h4 class="display-3">@Html.ActionLink("Available Properties", "About")</h4>
        </div>
    </div>
</div>
